---
---

body {
  margin: 0 auto;
}
nav{
  background-color: rgba(153, 153, 153, 0.454);
}
nav ul, footer ul {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  padding: 0px;
  list-style: none;
  font-weight: bold;
  width: 70%;
}
nav ul li, footer ul li {
  display: inline;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}
ul.posts li {
  list-style: none;
}
.profile-pic {
  height: 300px;
  filter: drop-shadow(5px 5px 5px #222);
  padding-right: 30px;
}
.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav-logo {
  height: 40px;
  width: 40px;
  color: #999;
  padding: 25px;
}
.nav-text {
  height: 92px;
  color: white;
  vertical-align: middle;
  line-height: 92px;
  text-align: center;
  padding: 35px 12px;
  font-size: 110%;
}
.landing-content {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  height: calc(100vh - 93px);
}
.highlight {
  color: #e31b6d;
  font-weight: 400;
}
.text {
  font-size: 19px;
  line-height: 30px;
  font-weight: 250;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav-row{
  height: 90px;
}
.center {
  justify-content: center;
}
.footer-padding {
  width: 70%;
  margin: auto;
  padding: 10px;
}
.content-box {
  height: 500px
}