---
---

@import "{{ site.theme }}";

* {
  outline: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*--
dl, dt, dd, ol, ul, li,
-- */
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h3 {
  font-size: 28px;
}

.app-container {
  height: 100vh;
}

.home {
  height: 100%;
}

.portfolio-container {
  background-image: linear-gradient(135deg,#313132,#304179);
}

.header {
  width: 100%;
  height: 92px;
  background: #111;
}

.header-padding {
  height: 92px;
}

.topnav {
  width: 75%;
  margin: 0 auto;
  top: 0;
  max-width: 1040px;
  position: center;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background: #111;
  height: 92px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.nav a {
  float: right;
  flex: 1;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 92px;
  padding: 0 1.5%;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  color: #6a6969;
}

.nav-logo {
  float: right;
  height: 40px;
  width: 40px;
  color: white;
  padding: 25px 7px;
}

.nav-left {
  float: left;
  height: 92px;
  color: white;
  vertical-align: middle;
  line-height: 92px;
  text-align: center;
}

.home-container {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  max-height: 375px;
}

.bio-container {
  margin: 1.5%;
  flex-grow: 2;
  flex-shrink: 2;
  padding-left: 5%;
}

.bio-profile {
  height: 300px;
  padding-top: 5%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.bio-info {
  height: 250px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 36px;
  flex-grow: 6;
  flex-shrink: 2;
  padding-top: 15%;
}

.home-container-lower {
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  height: 60%;
  flex-flow: column;
  background: #fafafa;
  text-align: center;
  border-top: #dddddd solid 1px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 36px;
  padding: 1%;
}

.bio-recent {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-grow: 1;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 325;
  font-size: 20px;
  padding: 1%;
  justify-content: center;
}

.bio-recent-one {
  max-width: 461px;
  flex-grow: 2;
  flex-shrink: 2;
}

.bio-recent-two {
  max-width: 461px;
  flex-grow: 2;
  flex-shrink: 2;
}

.bio-recent-padding {
  max-width: 5%;
  flex-grow: 2;
  flex-shrink: 2;
}

.bio-recent-img {
  height: 250px;
  border-radius: 10px; 
}

.gdoc-resume {
  width: 75%;
  margin: 0 auto;
}