<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<nav class="blue-back">
			<ul class="flex-box nav-container">
				<div class="nav-row">
					<li><a href="https://angel.co/raymond-downie"><img class="nav-logo" src="img/angel-logo.png"/></a></li>
					<li><a href="https://github.com/downier"><img class="nav-logo" src="img/github-logo.png"/></a></li>
					<li><a href="https://www.linkedin.com/in/raymonddownie/"><img class="nav-logo" src="img/linkedin-logo.png"/></a></li>
					<li><a class="email" href="mailto:raydownie89@gmail.com"><img class="nav-logo" src="img/email-logo.png"/></a></li>
				</div>
			</ul>
		</nav>
		<body>
			<div class="container">
			
		</body>
	</html>