<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<nav class="center blue-back">
			<ul class="flex-box">
				<div class="nav-row">
					<li><a class="nav-text" href="/">Home</a></li>
					<li><a class="nav-text" href="/about">About</a></li>
					<li><a class="nav-text" href="/cv">Resume</a></li>
				</div>
				<div class="nav-row">
					<li><a href="https://angel.co/raymond-downie"><img class="nav-logo" src="img/angel-logo.png"/></a></li>
					<li><a href="https://github.com/downier"><img class="nav-logo" src="img/github-logo.png"/></a></li>
					<li><a href="https://www.linkedin.com/in/raymonddownie/"><img class="nav-logo" src="img/linkedin-logo.png"/></a></li>
					<li><a class="email" href="mailto:raydownie89@gmail.com"><img class="nav-logo" src="img/email-logo.png"/></a></li>
				</div>
			</ul>
		</nav>
		<body>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<footer>
	    		<ul class="footer-padding">
						<li><a href="mailto:raydownie89@gmail.com">raydownie89@gmail.com</a></li>
						<li><a href="https://github.com/downier">github.com/downier</a></li>
					</ul>
			</footer>
		</body>
	</html>